# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site
_app

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Misc # 아래 둘 왜 한건지 모르겠읆.. 일단 주석처리하면 안된다
# _sass/dist
# assets/js/dist
